main {
    max-width: 800px;
    margin: 0 auto;
}
.card-panel {
    margin-top: 0;
    margin-bottom: 0;
    padding: 12px;
    box-shadow: none;
    border-bottom: 1px solid #ccd6dd;
}
.card-panel .row {
    margin-bottom: 0;
}
.valign-wrapper {
    align-items: flex-start; /*头像置顶*/
}
.write-tweet {
    position: fixed;
    right: 10px;
    bottom: 20px;
}

.preloader-wrapper {
    margin-top: 10px;
}
