<div class="center-align">
  <div class="preloader-wrapper active" ng-show="user.processing">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>


<div class="tweet-list" ng-show="!user.processing">
  <div class="col s12 m8 offset-m2 l6 offset-l3" >
    <div class="card-panel grey lighten-5">
      <div class="row valign-wrapper">
        <div class="col s2 center-align">
          <img src="images/yuna.jpg" alt="头像" class="avatar circle responsive-img">
        </div>
        <div class="col s10">
          <span class="black-text">
            这是一条文字推文，这里显示的内容很有限
          </span>
          <!-- <img class="responsive-img" src="images/.jpg"> -->
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5">
      <div class="row valign-wrapper">
        <div class="col s2 center-align">
          <img src="images/yuna.jpg" alt="头像" class="avatar circle responsive-img">
        </div>
        <div class="col s10">
          <span class="black-text">
            这是一条视频推文，见下方
          </span>
          <!--<video class="responsive-video" controls>-->
            <!--<source src="media/big_buck_bunny.mp4" type="video/mp4">-->
          <!--</video>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m8 offset-m2 l6 offset-l3" >
    <div class="card-panel grey lighten-5">
      <div class="row valign-wrapper">
        <div class="col s2 center-align">
          <img src="images/yuna.jpg" alt="头像" class="avatar circle responsive-img">
        </div>
        <div class="col s10">
          <span class="black-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12 m8 offset-m2 l6 offset-l3" >
    <div class="card-panel grey lighten-5">
      <div class="row valign-wrapper">
        <div class="col s2 center-align">
          <img src="images/yuna.jpg" alt="头像" class="avatar circle responsive-img">
        </div>
        <div class="col s10">
          <span class="black-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
